<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.ashlikun.xwebview">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <provider
            android:name="com.ashlikun.xwebview.XWebFileProvider"
            android:authorities="${applicationId}.XWebFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_files_paths" />
        </provider>
        <activity
            android:name="com.ashlikun.xwebview.ui.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/actionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
        </activity>
    </application>
</manifest>
